<div class="footer">
  <div class="footer-container">
    <div class="footer-section about">
      <img
        src="../Assets/Logo/Main/LogoWhite.png"
        alt="Mew Pet Shop Logo"
        class="footer-logo"
      />
      <p>
        MogDeow là địa chỉ uy tín cung cấp thú cưng và phụ kiện chính hãng từ
        2022.
      </p>
      <ul class="social-icons">
        <li>
          <a href="#"
            ><img
              src="../Assets/Icon/Layout/Footer/face-icon.png"
              alt="Facebook"
          /></a>
        </li>
        <li>
          <a href="#"
            ><img
              src="../Assets/Icon/Layout/Footer/insta-icon.png"
              alt="Instagram"
          /></a>
        </li>
        <li>
          <a href="#"
            ><img src="../Assets/Icon/Layout/Footer/x-icon.png" alt="Twitter"
          /></a>
        </li>
        <li>
          <a href="#"
            ><img
              src="../Assets/Icon/Layout/Footer/youtube-icon.png"
              alt="YouTube"
          /></a>
        </li>
      </ul>
    </div>

    <div class="footer-section contact">
      <h3>LIÊN HỆ</h3>
      <p>📍 Địa chỉ: 3/30 Binh Phuoc A, Binh Chuan, Thuan An, Binh Duong</p>
      <p>📧 Email: <a href="#">mogdeow@gmail.com</a></p>
      <p>📞 Điện thoại: 086-205-3894</p>
    </div>

    <div class="footer-section support">
      <h3>HỖ TRỢ KHÁCH HÀNG</h3>
      <ul>
        <li><a href="#">Điều khoản & Chính sách</a></li>
        <li><a href="#">Điều kiện giao dịch chung</a></li>
        <li><a href="#">Vận chuyển & Giao nhận</a></li>
        <li><a href="#">Chính sách hoàn trả</a></li>
        <li><a href="#">Tài khoản thanh toán</a></li>
      </ul>
    </div>

    <div class="footer-section certification">
      <h3>CHỨNG NHẬN</h3>
      <p>
        MogDeow.vn cam kết tuân thủ các quy định tại Luật Lâm nghiệp, Luật Chăn
        nuôi, các Nghị định hướng dẫn (Nghị định 13/2020/NĐ-CP, 06/2019/NĐ-CP,
        v.v…) và các văn bản liên quan khi kinh doanh các loài thú nuôi trên
        website này.
        <br />
        <br />
        Nội dung trên MogDeow.vn đã được đăng ký bản quyền Digital Millennium
        Copyright Act (DMCA). Vui lòng không sao chép.
      </p>

      <img
        src="../Assets/Icon/Layout/Footer/dmca_protected.png"
        alt="DMCA Certified"
        class="certification-logo"
      />
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2025 MOGDEOW.VN - Bản quyền thuộc về MOGDEOW Pet Shop</p>
  </div>
</div>
